Source: idevice-mounter
Maintainer: Timothy E. Harris <maintainer@mxrepo.com>
Section: python
Priority: optional
Build-Depends: 
Standards-Version: 4.1.0

Package: idevice-mounter
Architecture: all
Depends: python3, python3-pyqt5, libplist3, python-plist,
	ideviceinstaller,
	python-imobiledevice,
	libimobiledevice-utils,
	libimobiledevice6,
	libusbmuxd4,
	usbmuxd,
	ifuse
Description: GUI to Mount and Unmount iPhones and iPads
 idevice-mounter is a simpler way to use the idevice/ifuse set of utilities to
 manage iPhone/iPad filesystems.
