#!/usr/bin/env xdg-open

[Desktop Entry]
Name=iDeviceMounter
Name[am]=አካል መጫኛ
Name[ar]=iDeviceMounter
Name[bg]=iDeviceMounter
Name[ca]=iDeviceMounter
Name[cs]=iDeviceMounter
Name[da]=iEnhed-montering
Name[de]=iDeviceMounter
Name[el]=iDeviceMounter
Name[es]=Montar iDispositivo
Name[et]=iDeviceMounter
Name[eu]=iDeviceMounter
Name[fa]=iDeviceMounter
Name[fi]=iDeviceMounter
Name[fr]=Monteur de iDevice
Name[he_IL]=iDeviceMounter
Name[hi]=iDeviceMounter
Name[hr]=iDeviceMounter
Name[hu]=iEszköz csatoló
Name[id]=iDeviceMounter
Name[is]=iDeviceMounter
Name[it]=Monta iDevice
Name[ja_JP]=iDeviceMounter
Name[ja]=iDeviceMounter
Name[kk]=iDeviceMounter
Name[ko]=iDeviceMounter
Name[lt]=iDeviceMounter
Name[mk]=iDeviceMounter
Name[nb]=iDeviceMounter
Name[nl]=iApparaatAankoppelaar
Name[pl]=iDeviceMounter
Name[pt_BR]=Montar dispositivos apple
Name[pt]=Montar dispositivos i
Name[ro]=iDeviceMounter
Name[ru]=iDeviceMounter
Name[sk]=Pripojiť i-zariadenia od Apple
Name[sl]=Priklopnik za iDevice naprave
Name[sq]=iDeviceMounter
Name[sr]=iDeviceMounter
Name[sv]=iDeviceMounter
Name[tr]=iDeviceMounter
Name[uk]=iDeviceMounter
Name[zh_CN]=iDeviceMounter
Name[zh_TW]=掛載 iDevice
Comment=A GUI for mounting & unmounting iPhones & iPads
Comment[am]=A GUI for mounting & unmounting iPhones & iPads
Comment[ar]=A GUI for mounting & unmounting iPhones & iPads
Comment[bg]=A GUI for mounting & unmounting iPhones & iPads
Comment[ca]=Interfície gràfica per muntar i desmuntar iPhones i iPads
Comment[cs]=A GUI for mounting & unmounting iPhones & iPads
Comment[da]=En grafisk brugerflade til at montere og afmontere iPhone'er og iPad'er
Comment[de]=Benutzeroberfläche für das Ein-und Aushängen von iPhones und iPads
Comment[el]=Ένα GUI για την τοποθέτηση και την αποσυναρμολόγηση iPhones & iPads
Comment[es]=un GUI para montar y desmontar iPhone y iPad
Comment[et]=A GUI for mounting & unmounting iPhones & iPads
Comment[eu]=A GUI for mounting & unmounting iPhones & iPads
Comment[fa]=A GUI for mounting & unmounting iPhones & iPads
Comment[fi]=A GUI for mounting & unmounting iPhones & iPads
Comment[fr]=Interface graphique permettant de monter et démonter les iPhones & iPads
Comment[he_IL]=A GUI for mounting & unmounting iPhones & iPads
Comment[hi]=A GUI for mounting & unmounting iPhones & iPads
Comment[hr]=A GUI for mounting & unmounting iPhones & iPads
Comment[hu]=Grafikus felületű iPhone & iPad csatoló és leválasztó
Comment[id]=A GUI for mounting & unmounting iPhones & iPads
Comment[is]=A GUI for mounting & unmounting iPhones & iPads
Comment[it]=Programma ad interfaccia grafica per montare e smontare iPhone e iPad
Comment[ja_JP]=A GUI for mounting & unmounting iPhones & iPads
Comment[ja]=A GUI for mounting & unmounting iPhones & iPads
Comment[kk]=A GUI for mounting & unmounting iPhones & iPads
Comment[ko]=A GUI for mounting & unmounting iPhones & iPads
Comment[lt]=Grafinė naudotojo sąsaja, skirta iPhone ir iPad prijungimui ir atjungimui
Comment[mk]=A GUI for mounting & unmounting iPhones & iPads
Comment[nb]=A GUI for mounting & unmounting iPhones & iPads
Comment[nl]=Een GUI voor het aan- en ontkoppelen van iPhones & iPads
Comment[pl]=Narzędzie do montowania i odmontowywania iPhonów i iPadów
Comment[pt_BR]=Interface gráfica para montar/desmontar iPhones e iPads [idevice-mounter]
Comment[pt]=Interface gráfica para montar/desmontar iPhones e iPads [idevice-mounter]
Comment[ro]=A GUI for mounting & unmounting iPhones & iPads
Comment[ru]=A GUI for mounting & unmounting iPhones & iPads
Comment[sk]=Pripojenie a odpojenie iPhonu & iPadu
Comment[sl]=Grafični vmesnik za priklop & odklop iPhoneov & iPadov
Comment[sq]=A GUI for mounting & unmounting iPhones & iPads
Comment[sr]=A GUI for mounting & unmounting iPhones & iPads
Comment[sv]=Ett grafiskt användargränssnitt för att montera och avmontera iPhones & iPads
Comment[tr]=A GUI for mounting & unmounting iPhones & iPads
Comment[uk]=A GUI for mounting & unmounting iPhones & iPads
Comment[zh_CN]=A GUI for mounting & unmounting iPhones & iPads
Comment[zh_TW]=掛載、卸載 iPhone 跟 iPad 的圖像介面程式
Exec=/usr/bin/idevice-mounter
Icon=idevice
Terminal=false
NoDisplay=false
Type=Application
Categories=Qt;Settings;System;Filesystem;Utility;MX-Utilities
Encoding=UTF-8
