Package: mx-idevice-mounter
Version: 0.1.5.8
Architecture: all
Maintainer: Timothy E. Harris <maintainer@mxrepo.com>
Installed-Size: 198
Depends: python3, python3-pyqt5, mx-iphone
Section: python
Priority: optional
Description: GUI to Mount and Unmount iPhones and iPads
 mx-idevice-mounter is a simpler way to use the idevice/ifuse set of utilities to
 manage iPhone/iPad filesystems.
